* {
    box-sizing: border-box;
}

div#wrapper, footer{
    margin:auto;
    width:1020px;
    background-color: rgb(251, 235, 235);
    padding:20px;
}

body {
    font-family: "Arial","'sans serif";
    line-height: 24px;
}

nav {
    margin-top:20px;
    margin-bottom: 20px;
}

nav a {
    margin-right: 20px;
}

section.appel, section.visuals {
    width: 50%;
    float: left;
}

section.visuals {
    text-align: right;
}

img.appel {
    width: 489px;
}

img.visuals {
    width: 450px;
    margin-bottom: 10px;
}

img.article {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 303px;
}


article {
    display: inline-block;
    width: 33%;
    padding-right: 15px;
    vertical-align: top;
}

article:last-child {
    padding-right: 0px;
}

footer, footer a {
    background-color: rgb(166,166,166);
    color: white;
}

div.form-group {
    width: 500px;
    padding: 20px;
}

input {
    float: right;
    width: 300px;
}
